@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: Montserrat, serif;
    font-size: 1em;
    box-sizing: border-box;
}

.header-container{
    background-color: #73A6B1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3.94em;
    position: sticky;
    top: 0;
    z-index: 2;
}

.menu-list{
    display: flex;
    align-items: center;
}

.menu-item{
margin-right: 3.1em;
}

.blue-btn{
    text-transform: uppercase;
    background-color: #7AE5FD;
    padding: 1.15em 1.94em;
    border-radius: 4.8em;
    margin: 1.3em;
    cursor: pointer;
    font-family: Montserrat, serif;
}


.first-screen{
    height: 100vh;
    background-image: url("../img/first-screen.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0 3.94em;
}

.first-screen-container{
    width: 30%;
}

.main-title{
    font-weight: 800;
    font-size: 4.06em;
    line-height: 0.95;
    color: #FFFFFF;
    margin-bottom: 2rem;
}

.main-description{
    width: 70%;
    font-size: 1em;
    margin-bottom: 2rem;
}

.white-btn{
    background-color: #FFFFFF;
    border: none;
    font-size: 1rem;
    margin: 0;
}

.description-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 10vw;
}

.about-us-title{
    font-size: 3.5em;
    max-width: 55%;
    text-align: center;
    margin-bottom: 1rem;
}

.about-us-goal{
    font-size: 1.68rem;
    margin-bottom: 1rem;
}

.about-us-help{
    color: #73A6B1;
}

.description-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2vh 2vw;
    margin-bottom: 1.5rem;
}

.description-text-content{
    width: 50%;
    background-color: #F1FDFF;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description-header{
    width: 48%;
    font-size: 2.875em;
    margin-bottom: 1rem;
}

.description-text{
    width: 48%;
    line-height: 25px;
}

.photo{
    padding: 2vh 2vw;
    background-color: #F1FDFF;
}

.btn{
    border: none;
}

.mission-description{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding: 10vh 10vw;
}

.mission-description-text{
    display: flex;
    align-items: center;
    width: 35%;
    font-size: 1.5rem;
}

.zigzag{
    position: absolute;
    z-index: -1;
    top: 10vw;
    right: 15vw;
}

.support-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.support-us-title{
    font-size: 3.75rem;
    margin-bottom: 1.5rem;
}

.support-us-text{
    font-size: 1.25rem;
    color: #73A6B1;
    margin-bottom: 2.5rem;
}

.support-us-goal{
    font-size: 1.69rem;
    margin-bottom: 1rem;
}

.support-us-collected{
    font-size: 3.75rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.border-right{
    border-right: 2px solid #9AD2DE;
    padding: 0 1rem;
}

.no-border{
    border: none;
}

.contacts{
    margin-top: 10rem;
    display: flex;
    justify-content: space-evenly;
}

.contacts-title{
    font-size: 3.75rem;
}

.contact-phone{
    margin-bottom: 2.5rem;
}

.contact-text{
    margin: 1rem 0;
    font-size: 1.25rem;
    width: 60%;
}

.phone{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.contact-social-text{
    margin-top: 1rem;
    font-size: 1.25rem;
}

.subscription{
    display: flex;
    margin-top: 7rem;
    justify-content: space-evenly;
    margin-bottom: 7rem;
}

.subscription-block{
    width: 40%;
}

.subscription-text{
    font-size: 1.69rem;
    margin-bottom: 2rem;
    width: 70%;
}

.subscription-form{
    display: flex;
    flex-direction: column;
}

.ntp{
    max-width: 540px;
    height: 66px;
    font-size: 1.4rem;
    font-family: Montserrat, serif;
    padding: 0 2rem;
    background-color: #F9FADF;
    border: none;
}

.npt-btn{
    max-width: 540px;
    height: 64px;
    font-family: Montserrat, sans-serif;
    font-size: 1.125rem;
    margin: 2rem 0;
}

.err{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.88);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: red;
    text-align: center;
}

.errButton{
    margin-top: 25px;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    background: #64edc8;
    font-size: 24px;
}

@media screen and (max-width: 425px) {
    .header-container{
        padding: 1em 1em;
    }

    .menu-list{
      flex-wrap: wrap;
      justify-content: center;
    }

    .menu-item{
        margin-right: 1.1em;
        margin-bottom: 1.1em;
    }

    .first-screen{
        height: auto;
        background-size: cover;
        align-items: start;
        padding: 1em 1em;
    }

    .first-screen-container{
        width: 100%;
    }

    .main-title{
        font-size: 1.20em;
        margin-bottom: 0.5rem;
    }

    .main-description{
        margin-bottom: 0.5em;
        font-size: 1rem;
    }

    .blue-btn{
        padding: 1em 1em;
        border-radius: 4.8em;
        margin: 1em;
        font-size: 1rem;
    }

    .white-btn{
        font-size: 0.8rem;
    }

    .about-us{
        padding: 5vh 5vw;
    }

    .about-us-title{
        font-size: 2em;
        max-width: 100%;
    }

    .about-us-goal{
        font-size: 1.18rem;
    }

    .description-block{
        flex-direction: column;
        margin-bottom: 0.5rem;
    }

    .description-text-content{
        width: 95%;
    }

    .description-header{
        width: 100%;
        font-size: 1.875em;
    }

    .description-text{
        width: 100%;
    }

    .photo{
        width: 95%;
    }

    .mission-description{
        display: flex;
        flex-direction: column;
    }

    .mission-description-text{
        width: 100%;
        font-size: 1rem;
    }

    .zigzag{
     display: none;
    }

    .support-us{
        padding: 10vh 10vw;
    }

    .support-us-title{
        font-size: 1.75rem;
        margin-bottom: 1rem;
    }

    .support-us-text{
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    .support-us-goal{
        font-size: 1rem;
    }

    .support-us-collected{
        font-size: 1.75rem;
        margin-bottom: 1rem;
    }

    .contacts{
        margin-top: 1rem;
        flex-direction: column;
        align-items: center;
    }

    .contacts-title{
        font-size: 1.75rem;
    }

    .contact-phone{
        text-align: center;
    }

    .contact-text{
        width: 100%;
    }

    .contact-social{
        text-align: center;
    }

    .contact-social-text{
     text-align: center;
    }

    .subscription{
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .subscription img{
        width: 100%;
    }

    .subscription-block{
        width: 100%;
        text-align: center;
    }

    .subscription-text{
        width: 99%;
    }

    .subscription-form{
        align-items: center;
    }

    label{
        max-width: 340px;
    }

    .ntp{
        max-width: 340px;
        padding: 0 0.5rem;

    }

    .npt-btn{
        max-width: 340px;
        margin: 1rem 0;
    }
}
