@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: Montserrat, serif;
    font-size: 1em;
}




.first-screen{
    width: 100%;
    height: 100vh;
    background-image: url("../img/first-screen.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.main-title{
    font-weight: 800;
    font-size: 4.06em;
    line-height: 0.95;
    color: #FFFFFF;
}

.main-description{

}
