@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: Montserrat, serif;
    font-size: 1em;
    box-sizing: border-box;
}

.header-container{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em 3.94em;
    position: sticky;
    top: 0;
}

.menu-list{
    display: flex;
    align-items: center;
}

.menu-item{
margin-right: 3.1em;
}

.blue-btn{
    text-transform: uppercase;
    background-color: #7AE5FD;
    padding: 1.15em 1.94em;
    border-radius: 4.8em;
    margin: 1.3em;
    cursor: pointer;
}


.first-screen{
    /*width: 100vw;*/
    height: 100vh;
    background-image: url("../img/first-screen.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0 3.94em;
}

.first-screen-container{
    width: 30%;
}

.main-title{
    font-weight: 800;
    font-size: 4.06em;
    line-height: 0.95;
    color: #FFFFFF;
    margin-bottom: 2rem;
}

.main-description{
    width: 70%;
    font-size: 1em;
    margin-bottom: 2rem;
}

.white-btn{
    background-color: #FFFFFF;
    border: none;
    font-size: 1rem;
    margin: 0;
}

.description-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 10vw;
}

.about-us-title{
    font-size: 3.5em;
    max-width: 55%;
    text-align: center;
    margin-bottom: 1rem;
}

.about-us-goal{
    font-size: 1.68rem;
    margin-bottom: 1rem;
}

.about-us-help{
    color: #73A6B1;
}

.description-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2vh 2vw;
    margin-bottom: 1.5rem;
}

.description-text-content{
    width: 50%;
    background-color: #F1FDFF;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description-header{
    width: 48%;
    font-size: 2.875em;
    margin-bottom: 1rem;
}

.description-text{
    width: 48%;
    line-height: 25px;
}

.photo{
    padding: 2vh 2vw;
    background-color: #F1FDFF;
}

.btn{
    border: none;
}

.mission-description{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding: 10vh 10vw;
}

.mission-description-text{
    display: flex;
    align-items: center;
    width: 35%;
    font-size: 1.5rem;
}

.zigzag{
    position: absolute;
    z-index: -1;
    top: 10vw;
    right: 15vw;

}






.subscription-form{
    display: flex;
    flex-direction: column;
}

.ntp{
    max-width: 540px;
    height: 66px;
    font-size: 1.4rem;
}

.npt-btn{
    max-width: 540px;
    height: 64px;
}
